include ../components/settings-panel/settings-panel

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="icon" type="image/png" href="assets/favicons/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="assets/favicons/favicon-16x16.png" sizes="16x16")
    link(rel="apple-touch-icon" href="assets/favicons/apple-touch-icon.png" sizes="180x180")
    link(rel="manifest", href="assets/favicons/site.webmanifest")
    link(rel="shortcut icon", href="assets/favicon/favicon.ico")
    title Demo Page
  body
    main.demo
      h1.demo__title Plugin demo
      div.demo__component-wrapper
        div.demo__panel-wrapper
          +settings-panel({'index': '0'})
        div.demo__slider-wrapper
          div.slider.js-slider(id="slider-0")
      div.demo__component-wrapper
        div.demo__panel-wrapper
          +settings-panel({'index': '1'})
        div.demo__slider-wrapper
          div.slider.js-slider(id="slider-1")
