@import '~Normalize';

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
}

.demo {
  &__title {
    text-align: center;
  }

  &__component-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: #F9F5FA;
  }

  &__panel-wrapper {
    max-width: 490px;
    margin-bottom: 2.5rem;
  }

  &__slider-wrapper {
    width: 40%;
  }
}
