.settings-panel {
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.9rem;
  border-radius: 0.5rem;
  background-color: #FAE3FA;

  &__fieldset {
    max-width: 14.286rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__fieldset-title {
    padding: 0 0.35rem;
  }

  &__fieldset-inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__input,
  &__label {
    cursor: pointer;
  }

  &__values-label {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;

    &_visible {
      display: inline;
    }

    &_hidden {
      display: none;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__values-input {
    width: 4rem;
  }

  &__current-values-wrapper {
    margin-top: 1rem;
  }
}
