.settings-panel {
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.9rem;
  border-radius: 0.5rem;
  background-color: #FAE7E6;
}

.settings-panel__fieldset {
  max-width: 200px;
  width: 100%;
  margin-bottom: 1rem;
}

.settings-panel__fieldset-title {
  padding: 0 0.35rem;
}

.settings-panel__fieldset-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.settings-panel__values-label {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  &:last-of-type {
    margin-right: 0;
  }
}

.settings-panel__values-input {
  width: 3rem;
}

.settings-panel__current-values-wrapper {
  margin-top: 1rem;
}
