.slider {
  box-sizing: border-box;
  height: 8px;
  position: relative;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  background-color: #FFFFFF;
}

.slider__handle {
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__handle-from {
  left: 10%;
}

.slider__handle-to {
  right: 10%;
}

.slider__pointer {
  box-sizing: border-box;
  width: 32px;
  height: 18px;
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.slider__pointer::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  left: 50%;
  bottom: -2px;
  background-color: #66D2EA;
  transform: translate(-50%, 0) rotate(45deg);
}

.slider__bar {
  position: absolute;
  width: 580px; // убрать хардкорд, задавать через ts
  height: 8px;
  top: -1px;
  left: 94px; // убрать хардкорд, задавать через ts
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.slider__scale {
  position: relative;
  list-style: none;
}

.slider__scale-item {
  position: absolute;
  font-size: 14px;
  line-height: 17px;
  &:first-child {
    left: 0; // убрать хардкорд, задавать через ts
  }
  &:last-child {
    right: 0; // убрать хардкорд, задавать через ts
  }
}
