mixin slider({ min, max, step } = {})
  div.slider.js-slider
    div.slider__handle.slider__handle-from
      div.slider__pointer.slider__pointer-from from
    div.slider__handle.slider__handle-to
      div.slider__pointer.slider__pointer-to to
    div.slider__bar
    ul.slider__scale
      li.slider__scale-item 0
      li.slider__scale-item 5
